#root {
  max-width: 800px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  font-family: Arial, sans-serif;
  background-color: #f8f9fa;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: left
}

h1 {
  font-size: 2rem;
  margin-bottom: 1.5rem;
  color: #333;
}

form {
  margin-bottom: 2rem;
}

input[type="text"],
input[type="number"] {
  padding: 0.5rem;
  margin: 0.5rem 0;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: calc(100% - 1rem);
}

button {
  background-color: #40b344;
  color: white;
  border: none;
  padding: 0.7rem 1.5rem;
  font-size: 1rem;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #688d6a;
}

.user-card {
  margin: 1rem 0;
  padding: 1.5rem;
  background-color: white;
  border: 1px solid #ddd;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  text-align: left;
}

.user-card p {
  margin: 0.5rem 0;
}

.user-card .blue {
  color: #007bff;
}

.user-card .red {
  color: red;
}

.user-card button {
  background-color: #ff4d4f;
  color: white;
  font-size: 0.9rem;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.user-card button:hover {
  background-color: #e43d3d;
}

hr {
  border: none;
  border-top: 1px solid #ddd;
  margin: 2rem 0;
}
